/* src/components/custom/daily-sales-receipt.module.css */

.receiptContainer {
  width: 58mm;
  padding: 4mm 0;
  background-color: white;
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  max-width: 25mm;
  max-height: 10mm;
  margin-bottom: 2px;
  display: inline-block;
}

.storeName {
  font-size: 14px;
  font-weight: 500;
  margin: 2px 0;
}

.address {
  font-size: 9px;
  margin: 0;
}

.title {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px 0;
  padding: 2px 0;
}

/* METADATA */
.metadata {
  margin-bottom: 5px;
}

.metaRow {
  display: flex;
}

.metaLabel {
  width: 60px;
}

.metaValue {
  flex: 1;
  padding-left: 2px;
}

/* SECTIONS */
.section {
  margin-top: 5px;
  border-top: 1px dashed black;
  padding-top: 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 2px;
  border-top: 1px solid black;
  padding-top: 2px;
}

/* FOOTER */
.footerMessage {
  text-align: center;
  margin-top: 15px;
  font-size: 10px;
}

/* PRINT MEDIA */
@media print {
  @page {
    size: 58mm auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .receiptContainer,
  .receiptContainer * {
    visibility: visible;
  }

  .receiptContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
